* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
}

body {
  width: 90%;
  margin: auto;
}

/* FORM */

.form {
  width: 90%;
  margin: 50px auto 120px;
}

.form-categories-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-categories-container .form-category {
  flex: 0 50%;
  margin-bottom: 20px;
  text-align: right;
}

input,
select {
  width: 50%;
  margin: 0 60px 0 10px;
  padding-left: 10px;
  border: 3px solid lightgray;
}

input {
  height: 30px;
}

select {
  height: 40px;
  overflow: hidden;
}

.select-container {
  position: relative;
}

button {
  float: right;
  padding: 15px;
  margin-right: 60px;
  background-color: #143735;
  color: white;
  border-radius: 5px;
}

/* TABLE */

.table-container {
  width: 90%;
  margin: 0 auto;
}

.table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid lightgray;
}

tr {
  border: 1px solid lightgray;
}

td {
  padding: 30px 10px;
}

th {
  text-align: left;
  padding: 15px 10px;
}

th {
  color: gray;
  font-weight: normal;
}


